@font-face {
    font-family: 'DINMedium';
    src: url('../fonts/DINMedium.eot');
    src: local('DINMedium'), url('../fonts/DINMedium.woff') format('woff'), url('../fonts/DINMedium.ttf') format('truetype');
}

html {
    height: 100%;
}

body {
    height:100%;
    color: #fff;
    background-color: #2e3338;
    font-family: DINMedium, sans-serif;
    font-size: 12px;
    line-height: 1.42857;
}

a {
    color: #5D5E62;
}

.ng-hide {
    display: none;
}

.small {
    font-size: 14px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.box {
    background-color: #fff;
    border-radius: 5px;
    max-height: 100%;
    overflow: hidden;
    margin: 0 5px 5px 0;
}

.box.instance {
    padding:5px;
    width: 200px;
    height: 300px;
}

.cpu {
    width:200px;
    height:150px;
}

.task {
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.task.red {
    color: #FC6163;
}

.task.blue {
    color: #3DC2FF;
}

.task.green {
    color: #fff;
    background-color: #00f0c3;
}

.task.orange {
    color: #FB964D;
}

.container {
    color: #5D5E62;
    border-radius: 5px;
}

.container-info {
}

.loading {
    background: url(../images/ajax-loader.gif) center no-repeat;
}

.cluster {
    margin: 5px 0;
}